body{
		background-color: wheat;
}
table{
	width: 80%;
	position: relative;
	top: 5%;
	left: 10%;
	background-color: lightyellow;
	text-align: center;
	border: 5px solid tomato;
}
h1,h2{
	margin: 10px;
	font-family: Arial;
	background-color: orange;
}
.noth1h2{
	margin: 10px;
	font-family: Arial;
	background-color: lightyellow;
}
#nt{
	margin: 0 50% 0 0;
}
button{
	transition: background-color 0.3s,font-size 0.3s;
    background-color: white;
    color: black;
	padding: 10px;
	margin: 10px;
	text-align: center;
   	text-decoration: none;
   	font-size: 20px;
   	border-radius: 45%;
   	border: 5px solid slateblue;
   	cursor: pointer;
   	font-family: Arial;
}
button:hover{
	background-color: orange;
	font-size: 24px;
	transition-duration: 0.3s;
}
p{
	font-size: 22px;
	padding: 10px;
}
li{
	font-size: 20px;
	font-weight: bold;
}
img{
	width: 450px;
	height: 300px;
    border: 4px solid black;
    border-radius: 4px;
	padding: 5px;
	transition: height 0.5s, width 0.5s;
}
img:hover {
	width: 720px;
	height: 460px;
}
td{
	background-color: none;
}
.sptd:hover{
	transition: background-color 0.3s;
	background-color: lightblue;
}
#up{
	width: 5%;
	height: 50px;
	background-color: tomato;
    border: none;
	padding: 0;
	transition: none;
	position: fixed;
	top: 85%;
	left: 92%;
	text-align: center;
	font-size: 64px;
	color: black;
	opacity: 0;
	transition: opacity 0.5s;
}